<div class="modal-dialog modal-lg modal-dialog-center">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-
			label="Close">
				<span aria-hidden="true">×</span>
			</button>
		</div>
		<div class="modal-body">
			<div class="row">
        <div class="col-md-10 col-md-offset-1">
        	<%=form_with(model:@user, update_comp_notice_user_path(@user) do |f| %>
        	<% @users.each do |user| %>
        	<%= user.name %>
        	
          <table class="table table-bordered table-striped table-condensed">
          	<thead>
          		<th>月</th>
          		<th>指示者確認
          		  <div class="maru size_small black">
          		  	<div class="letter">印</div>
          		  </div>
          		</th>
          		<th>変更</th>
          		<th>勤怠を確認する</th>
          　</thead>
          　<tbody>
          　	<td><%=l(@first_day, format: :short) %></td>
          　	<td><%=f.select:instructor_comp_reply,{'なし':1, '承認':2, '否認':3},{include_blank:"申請中"}, {class:"form-control"} %></td>
          　	<td><%=f.check_box :change_comp, id:"change_comp" %></td>
          　	<td><%=link_to "勤怠を確認する", user_path(user), class:"btn btn-primary" %></td>
          　</tbody>
          </table>
          <% end %>
        </div>
      </div>
     </div>
   </div>
  </div>
</div>



