<div class="modal-dialog modal-lg modal-dialog-center">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-
			label="Close">
				<span aria-hidden="true">×</span>
			</button>
		</div>
		<div class="modal-body">
			<div class="row">
        <div class="col-md-10 col-md-offset-1">
	        <%= form_with(model:@user, url:attendances_update_comp_notice_user_path(@user), method: :patch, local:true) do |f| %>
	          <% @attendances.each do |day| %>
	          <p class="request-title"><%= "【#{day.user.name}からの勤怠申請】" %></p>
	          <table class="table table-bordered table-condensed" id="comp_notice_table" %>
	            <thead>
	    　        <tr>
	                <th>月</th>
	                <th>指示者確認
	                  <div class="maru size_small black">
	        	          <div class="letter">印</div>
	                  </div>
	                </th>
	                <th>変更</th>
	                <th>勤怠を確認する</th>
	              </tr>
	            </thead>
	            <%=f.fields_for "attendances[]", day do |d| %>
	            <%=d.hidden_field :user_id, :value => day.user.id %>
	            <tbody>
	    	         <tr>
	    	           <td><%=l(day.worked_on, format: :shortB) %></td>
	    	　         <!--以下dゾーン-->
	    	　				 <td><%=d.select:instructor_comp_reply,{'なし':1, '承認':2, '否認':3},{include_blank:"申請中"}, {class:"form-control"} %></td>
	    	　				 <td><%=d.check_box :change_comp, id:"change_comp" %></td>
			             <td><%=link_to "勤怠を確認する", user_path(day.user), class:"btn btn-primary"%></td>
	    	         </tr>
	            </tbody>
	           <% end %>
	          </table>
	          <% end %>
	          <%= f.submit "変更を送信する", class:"btn btn-primary" %>
          <% end %>
         </div>
       </div>
     </div>
  </div>
</div>