<%= form_with(model:@attendance, url: update_overtime_request_user_attendance_path(@user, @attendance), method: :patch) do |f| %>
  <table class="table table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <th>日付</th>
        <th>曜日</th>
        <th>終了時間（必須）</th>
        <th>業務内容</th>
        <th>確認（必須）</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @attendance.worked_on %></td>
        <td><%= $days_of_the_week[@attendance.worked_on.wday] %></td>
        <td><%= f.time_field :scheduled_end_time, class: 'form-control' %> </td>
        <td><%= f.text_field :business_outline, class: 'form-control' %></td>
        <td><%= f.collection_select(:instructor_test, @superior, :name, :name, {include_blank:"上長を選択して下さい"}, {class: "form-control", required: true }) %></td>
      </tr>
    </tbody>
  </table>
  <%= f.submit "残業を申請する", class: "btn btn-sm btn-primary" %>
<% end %>
